<% provide(:title, 'Sign up') %>

<div class= "panel-heading">
	<h1>Sign up</h1>
</div>

<div class="panel-body">
	<%= form_for(@user) do |f| %>
	<div class="jumbotron">
		<%= render 'fields', f: f %>
		<div class="form-group">
		   <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
		</div>
	<% end %>
		
	</div>
</div>

	